body {
  font-family: sans-serif;
}

header {
  background-color: #444444;
  padding: 10px 0;
  margin-bottom: 30px;
}

nav {
  height: 70px;
  max-width: 960px;
  margin: auto;
}

nav img {
  display: block;
  float: left;
}

nav ul {
  float: left;
}
nav li {
  display: inline-block;
  margin-left: 30px;
  width: 135px;
  line-height: 70px;
  white-space: nowrap;
  height: 70px;
}

nav a{
  color: #868686; 
  text-decoration: none;
}

main {
  max-width: 960px;
  margin: auto;
}

main > img {
  margin-bottom: 30px;
}

main > ul {
  margin-bottom: 30px;
}

main > ul img {
  float: left;
  margin: 0 30px 30px 0;
}

main > ul li:last-child img {
  margin-right: 0px;
}

main section img {
  float: left;
  margin: 0 30px 30px 0;
}

main section article {
  width: 46.666666%;
  float: left;
}

main section article h2 {
  margin-bottom: 5px;
  font-size: 1.25em;
}

main section article p {
  height: 339px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 5px;
}

main section article button {
  background-color: #000;
  color: #fff;
  height: 30px;
  width: 130px;
  border: none;
}

footer {
  background-color: #444444;
  height: 105px;
  clear: both;
}

